@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f5f5dc;
    --foreground: #101010;

    --primaryFont: "Amiri", sans-serif;
    --secondaryFont: "Poppins", sans-serif;
  }
}
.font-amiri {
  font-family: var(--primaryFont);
}

.font-poppins {
  font-family: var(--secondaryFont);
}
body {
  color: var(--foreground);
  background: var(--background);
  background-color: #f5f5dc;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  &__container {
    height: 580px;
    width: 90%;
    background: #add8e6;
    border-radius: 48px;
    display: flex;
    justify-content: space-around;
  }

  &__menu-title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
    color: #101010;
  }

  &__menu-list {
    margin-top: 0.5rem;
    font-size: 22px;
    font-weight: 400;
    color: #333333;
    font-family: "Poppins", sans-serif;
  }

  &__menu-item {
    cursor: pointer;
  }
}

/* calendar css  */
.css-6mw38q-MuiTypography-root,
.css-19yhe3r-MuiPickersToolbar-content,
.css-a46k6t-MuiPickersToolbar-root-MuiDatePickerToolbar-root,
.css-15fu35s-MuiDialogActions-root {
  display: none !important;
}

.css-5wchs2-MuiDateCalendar-root {
  box-shadow: 13.688px 5.133px 37.643px 17.11px rgba(150, 150, 150, 0.11);
  /* max-width: 500px; */
  max-height: 500px;
  width: 500px; 
  height: 100%;
}
.css-1rwystm-MuiPickersLayout-root {
  border-radius: 27.377px;
  overflow: hidden;
}
.css-18jb465-MuiPickersLayout-contentWrapper {
  background: var(--Secondary, #f5f5dc);
 

}

.css-4k4mmf-MuiButtonBase-root-MuiPickersDay-root.Mui-selected,
.css-qct7wd-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: #ff7f50 !important ;
}
.css-1rwystm-MuiPickersLayout-root,.css-1rl1vrc-MuiDayCalendar-header {
  width: 100%;
  max-width: 500px;
  height: 100%;
  /* min-height: 547px; */
}
.full-calendar,.css-5wchs2-MuiDateCalendar-root,.css-1rl1vrc-MuiDayCalendar-header  {
  width: 100% !important;
  height: auto !important;
  max-width: none !important;
}
.css-1rl1vrc-MuiDayCalendar-header,.css-1pv2de5-MuiDayCalendar-weekContainer{
  display: flex;
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
}
